body{
background-color:#cda5f3;
}

.div1{
text-align:center;
background-color:#993366;
color:white;
#padding:10px;
font-size:20px;
border-radius:20px;
margin-left:10px;


}


ul{
list-style-type:none;

}






.li2{
/*display:inline;*/
margin-right:50px;
margin-top:60px;

}

h1,h3{
    margin-left: 20px;
}

img{
    margin-right: 20px;
}
.div2{

text-align:center;
background-color: #ffff66;
color:white;
padding:20px;
font-size:20px;
border-radius:20px;
width:25%;
margin-top:20px;
margin-left:10px;
height:80%;
float:left;

}




.table1,th,td
{
border:3px solid black;
height:40px;
width:50%;
text-align: center;

}

.table2{
    
    background-color: #9999ff;
    border: 1px solid black;
    

}



.div3{
    
    text-align:center;
background-color: #ffff66;
color:black;
padding:20px;
font-size:20px;
border-radius:20px;
width:25%;
margin-top:10%;
margin-left:35%;
height:40%;
float:left;
}